header {
    display: flex;
    justify-content: space-between; /* Separa izquierda y derecha */
    align-items: center; /* Alinea verticalmente */
    padding: 10px 20px;
    background-color: #f4f4f4; /* Color de fondo opcional */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 100px; /* Ajusta el tamaño del logo */
    width: 100px;
    margin-right: 15px;

}

.header-right {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #1B3C34; /* Color del texto */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que la página ocupe toda la pantalla */
    margin: 0;
    padding: 0;
    text-align: justify;
}

select{
    cursor: pointer;
    border: 0;
    font-family: "Poppins", serif;
    background-color: #1B3C34;
    color: white;
}

select:hover{
    border-radius: 10px;
    background-color: #D95D39;
}

main {
    display: flex;
    gap: 20px;
}

h2, h3{
    color: #1B3C34;
}

.derecha {
    flex: 1;
    padding: 20px;
}

table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px; /* Redondea toda la tabla */
    overflow: hidden;
}

/* Redondear las esquinas de la primera y última celda de cada fila */
th:first-child, td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child, td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
}

.izquierda {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #1B3C34; /* Un verde oscuro */
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Alinea verticalmente */
    color: white;
    padding: 15px 30px;
    font-size: 14px;
}