body {
    font-family: "Poppins", serif;
    font-size: 14px;
}

ul.menu {
    position: sticky; /* Cambiado de sticky a relative */
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1B3C34;
}

.menu li {
    display: inline-block; /* Cambiado de float: left a inline-block */
    position: relative;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    border-radius: 10px;
    background-color: #D95D39;
}

.menu select {
    background-color: #1B3C34;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.menu select:hover {
    background-color: #D95D39;
}


